<%= "views/index page" %>

<% for (var i = 0; i < robots.transformers.length; i += 1) { %>

  <!-- <p><%= solarSystem.planets[i].name %></p> -->

  <p><a href="/robots/<%= i+1 %>"><%= robots.transformers[i].name %></a> Size: <%= robots.transformers[i].size %></p>

<% } %> 